.section h1 {
  margin-top: -10px !important; 
}

.img-responsive {
  padding: 15px;
}

.navbar-right a {
    background-image: url("pics/GitHub-Mark-120px-plus.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding-right: 50px !important;
}

h1.title {
  font-size: 28px;
  font-weight: bold;
  color:  #2C3E50  ;
}

.section h1 {
  font-size: 24px;
  font-weight: bold;
  color:  #2C3E50  ;
}
.section h2 {
  font-size: 20px;
  font-weight: bold;
  color:  #2C3E50  ;
}

a, a:hover, a:focus {
  color: DodgerBlue;
}